*{
  padding: 0;
  box-sizing: border-box
}

:root{
  --clr-main: #06266F
}

header{
  height: 50px;
  box-shadow: 0 0 2px var(--clr-main);
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  position: fixed;
  top: 0;
}

#user{
  margin: 5px;
  display: flex;
}
#user>*{
  margin-left: 5px
}
#user img{
  border-radius: 50%;
}
#user p,
#updated p{
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 8px;
}

#login{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content{
  margin-top: 75px;
}
h1, h2{
  text-align: center;
}

#updated{
  display: flex;
  justify-content: center;
}
#updated>*{
  margin: 5px
}

#spinner{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.filter-inputs{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.filter-inputs input{
  width: 45%
}
input.filter-date{
  max-width: 75px;
}